.chart {
  margin-bottom: 25px;
  box-shadow: 0px 0px 10px #00000030;
}
.chart > .canvas-wrapper {
  position: relative;
}
.chart .minimap {
  position: relative;
  opacity: 0.5;
  transition: opacity 800ms ease-in-out 200ms;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.05);
  height: 50px;
}
.chart .minimap canvas {
  width: 100%;
}
.chart .minimapSize {
  position: relative;
  z-index: 3;
}
.chart .minimapController {
  cursor: -webkit-grab;
  cursor: grab;
  position: absolute;
  bottom: 0;
  top: 0;
  border-top: solid 2px rgba(0, 0, 0, 0.3);
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
}
.chart .minimapController .resize {
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.chart .minimapController .resize:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.chart .minimapController > .resize.left {
  left: 0;
  cursor: w-resize;
}
.chart .minimapController > .resize.right {
  right: 0;
  cursor: e-resize;
}
.chart .controls > div {
  display: inline-block;
  margin: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  font-size: 18px;
  line-height: 28px;
  position: relative;
  padding-left: 25px;
}
.chart .controls > div input {
  -webkit-appearance: none;
  position: absolute;
  left: 2px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  outline: none;
}
.chart .controls > div label {
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.6);
}
.chart .controls > div input::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.chart .controls > div input:checked::after {
  background-color: rgba(0, 0, 0, 0.4);
}